.card {

  //FUNCTIONALITY

  perspective: 1500px;  //透視,數字越小變化越大,越戲劇化ㄝ,為了不戲劇化說字要大點
  -moz-perspective: 1500px;
  position: relative;
  height: 520px;

  &__side {
    height: 520px;
    transition: all .8s;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;  //隱藏被旋轉的div元素背面
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      background-color: pink;
      

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }

  &:hover &__side--front {  //card:hover .card__side
    transform: rotateY(-160deg);
  }
  
  &:hover &__side--back {
    transform: rotateY(0);
   
  }

  //FRONT SIDE STYLING

  &__picture {
    background-size: cover;
    height: 230px;
    background-blend-mode: color;  //背景混合模式
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%,0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%,0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      url(../img/nat-5.jpg);
    }

    &--2 {

    }

  }

  &__heading {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 120px;
    right: 20px;
    text-align: right;
    width: 75%;
  }
  
  &__heading-span {
    padding: 10px 15px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom,
      rgba($color-secondary-light, .85),
      rgba($color-secondary-dark, .85))
    }
  }

  &__details {
    padding: 30px;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 15px;
        padding: 10px;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
}